blinker==1.8.1
cachelib==0.13.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-OAuthlib==0.9.6
Flask-Session==0.8.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
msgspec==0.18.6
oauthlib==2.1.0
python-dateutil==2.9.0.post0
requests==2.31.0
requests-oauthlib==1.1.0
six==1.16.0
urllib3==2.2.1
Werkzeug==3.0.3
xero_python==1.5.3
